<table class="reimbursements">
    <thead>
        <tr>
            <th id="id-column">ID</th>
            <th id="status-column">Status</th>
            <th id="amount-column">Amount</th>
            <th id="type-column">Type</th>
            <th id="description-column">Description</th>
            <th id="department-column">Department</th>
            <th id="requester-column">Requester</th>

            @if(historyMode) {
                <th id="resolver-column">Resolver</th>
            }

            <th id="submit-column">Submit Date</th>

            @if(!historyMode) {
                <th id="actions-column">Actions</th>
            } @else {
                <th id="resolved-column">Resolved Date</th>
            }
        </tr>
    </thead>

    <tbody>
        <!-- Note: apparently with tables, need to provide attribute selector or angular gets angry-->
        @for (r of reimbursements(); track r.id) {
            <tr app-reimbursement-component
                [r] = "r"
                [currentUser] = "currentUser"
                [userMap]="userMap"
                [departmentMap]="departmentMap"
                [historyMode]="historyMode"
                (reimbursementUpdated)="onReimbursementUpdated($event)"
                (resolved)="applyFilter()"
                (deleted)="applyFilter()"
                >
            </tr>
        }
    </tbody>
</table>
