<table class="reimbursements">
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Description</th>
            <th>Department</th>
            <th>Requester</th>

            @if(historyMode) {
                <th>Resolver</th>
            }

            <th>Submit Date</th>

            @if(!historyMode) {
                <th>Actions</th>
            } @else {
                <th>Resolved Date</th>
            }
        </tr>
    </thead>

    <tbody>
        <!-- Note: apparently with tables, need to provide attribute selector or angular gets angry-->
        @for (r of reimbursements(); track r.id) {
            <tr app-reimbursement-component
                [r] = "r"
                [currentUser] = "currentUser"
                [userMap]="userMap"
                [departmentMap]="departmentMap"
                [historyMode]="historyMode"
                (reimbursementUpdated)="onReimbursementUpdated($event)"
                (resolved)="applyFilter()"
                (deleted)="applyFilter()"
                >
            </tr>
        }
    </tbody>
</table>
