table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-size: 13px;
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid #d8dee8;
}

th {
  padding: 16px 14px;

  text-align: left;
  font-weight: 500;

  color: #202124;
  background: white;

  white-space: nowrap;
}

tbody tr {
  border-bottom: 1px solid #e1e5eb;

  transition: background-color 0.15s ease;
}

tbody tr:hover {
  background-color: #f8faff;
}


#id-column          { width: 2%; }
#status-column      { width: 7%; }
#amount-column      { width: 9%; }
#type-column        { width: 13%; }
#description-column { width: 20%; }
#department-column  { width: 11%; }
#requester-column   { width: 13%; }
#resolver-column {width: 13%;}
#submit-column        { width: 8%; }
#actions-column     { width: 13%; }
#resolved-column {width: 8%; }