<!-- Changed to tables via proj requirements, added pipes instead of manually doing ourselves-->
<td>{{r.id}}</td>
<td>{{r.status}}</td>
<td>{{r.amount | currency:'USD'}}</td>
<td>{{r.type}}</td>
<td>{{r.description}}</td>
<td>{{department?.departmentName}}</td>
<td>{{author?.firstName}} {{author?.lastName}}</td>
<td>
    @if (
        r.authorId === currentUser.id &&
        r.status === "PENDING"
        ) {
            <button id="{{r.id}}">Edit</button>
            <button id="{{r.id}}">Delete</button>
        }
    @if (
        currentUser.role === "MANAGER" &&
        r.status === "PENDING" &&
        r.authorId !== currentUser.id) {
            <button id="{{r.id}}">Approve</button>
            <button id="{{r.id}}">Deny</button>
        }
</td>